.assignments {
    grid-column: 6 / -1;
    height: 582px;
    overflow: hidden;
}

.assignmentContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.assignment {
    display: flex;
    flex-direction: column;
    background-color: #39465B;
    border-radius: 20px;
    padding: 15px 0px 13px 15px;
}

.name {
    font-weight: bold;
}

.descriptionColor {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
}