/* Percentage Bar */

:root {
    --red: rgb(255, 0, 0);
    --green: rgb(00, 255, 0);
}

.percentageContainer {
    width: 100%;
    background-color: #293849;
    border-radius: 26px;
    height: 13px;
    position: relative;
}

.percentage {
    background-color: #80BDE6;
    border-radius: 26px;
    height: 13px;
    position: absolute;
    z-index: 1;
}

.relativePercentage {
    z-index: 2;
    position: relative;
    --relativePercentage: 100%;
    width: var(calc(var(--relativePercentage) * var(--absPercentage)));
    left: calc(var(--absPercentage) - var(--relativePercentage));
}


/* Main Component */
.mealPlan {
    margin-top: 20px;
}

.textRight {
    margin-left: auto;
}

.topBar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.topBar > img {
    margin-right: 15px;
}

.mealSwipes {
    margin: 18px 0px 10px 0;
}